<nav class="navbar navbar-expand-lg">
      <div class="container">
        <ul class="nav-links d-flex justify-content-center w-100">
          <a href="/" class="btn btn-outline-primary mx-2">Home</a>
          <a href="/all-pickles" class="btn btn-outline-primary mx-2"
            >All Pickles</a
          >
          <a href="/host/add-pickle" class="btn btn-outline-primary mx-2"
            >Add Pickle</a
          >
          <a href="/favourites" class="btn btn-outline-primary mx-2"
            >Favourites</a
          >
        </ul>
      </div>
    </nav>
